div.panel.valign-wrapper
    div Applications
    div.tray
        ul.valign-wrapper
            li.tray-icon
                i.material-icons.md-18.md-dark extension
            li.tray-icon
                i.material-icons.md-18.md-dark volume_up
            li.tray-icon
                i.material-icons.md-18.md-dark network_wifi
            li.tray-icon
                i.material-icons.md-18.md-dark battery_charging_full
            li.tray-icon
                i.material-icons.md-18.md-dark account_circle