div.window.card
    div.window-title.center
        div.window-controls.left
            div.window-control.close
                i.material-icons.md-16 close
            div.window-control.minimize
                i.material-icons.md-16 remove
            div.window-control.maximize
                i.material-icons.md-16 add
        span.window-title-text title-text
        
    div.window-content Hello world!